<form [formGroup]="newCardForm" (ngSubmit)="onSubmit()" class="col-8 offset-3" enctype="multipart/form-data">
  <div class="form-group row">
    <label class="col-2 col-form-label">Name:</label>
    <div class="col-10">
      <input class="form-control" type="text" formControlName="name">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Grade:</label>
    <div class="col-10">
      <input class="form-control" type="number" formControlName="grade">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Description:</label>
    <div class="col-10">
      <textarea class="form-control" type="text" formControlName="description"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Image:</label>
    <div class="col-10">
      <input class="form-control" type="file" (change)="onChangeImg($event)">
    </div>
  </div>
  <div class=" row col-2 offset-3">
    <button type="submit">Submit</button>
  </div>
</form>
